* {
    font-family: 'Roboto Mono', monospace;
    padding-top: .3em;
    padding-left: .5em;
}

/* Header Styles */

#headerimg {
    width: 15em;
    height: 15em;
    border-radius: 50%;
  }

  h1 {
    font-family: 'Chelsea Market';
    font-size: 3em;
    letter-spacing: 2px;
    border: 1px solid green;
    padding-right: 5em;
  }

  .headertxt {
    border: 2px solid blue
  }

  .title {
    float: right;
    margin: 0 auto;
    padding-right: 100px;
  }

  #explore {
    text-align: center;
  }

  #open {
    border: 1px solid pink;
    width: 23em;
    text-align: center;
    padding-left: 12em;
  }

  .container {
    border: 1px dashed purple;
    padding-left: 2em;
    padding-right: 12em;
  }

/* Header Nav Buttons */

.toplink {
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 370px;
  padding-right: 370px;
  display: inline;
}

  #plan {
    margin: 0 10px;
    padding: 20px;
    padding-right: -1em;
    display: inline-block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 60px;
    background: #FF764E;
  }

  #learn {
    margin: 0 10px;
    padding: 20px;
    padding-right: -1em;
    display: inline-block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 60px;
    background: #5ED3EB;
  }

  #involve {
    margin: 0 10px;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 60px;
    background: #FFCD69;
  }


  /* Body Styles */

  .bodyimg {
    width: 7em;
    height: 7em;
    padding: 1em;
    padding-left: 40em;
    margin: 0 auto;
  }

  #maintxt {
    margin-top: 6em;
    margin-left: 2em;
    margin-right: 2em;
    padding-top: .5em;
    padding-bottom: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    background: #DDB9A3;
    font-size: 1.3em;
    color: white;
    text-align: center;
  }