* {
    font-family: 'Roboto Mono', monospace;
    padding-top: .3em;
    padding-left: .5em;
}

/* Header Styles */

#headerimg {
    width: 13em;
    height: 13em;
    border-radius: 50%;
  }

  h1 {
    font-family: 'Chelsea Market';
    font-size: 3em;
    border: 1px solid green;
    padding-right: 10em;
  }

  .headertxt {
    border: 2px solid blue
  }

  .title {
    float: right;
    margin: 0 auto;
    padding-right: 100px;
  }

  #open {
    border: 1px solid pink;
  }
/* Header Nav Buttons */

.toplink {
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 370px;
  padding-right: 370px;
  display: inline;
}

  #plan {
    margin: 0 10px;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 60px;
    background: #FF764E;
    length: 5px;
  }

  #learn {
    margin: 0 10px;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 60px;
    background: #5ED3EB;
  }

  #involve {
    margin: 0 10px;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 60px;
    background: #FFCD69;
  }


  /* Body Styles */

  .bodyimg {
    width: 7em;
    height: 7em;
    padding: 1em;
    padding-left: 40em;
    margin: 0 auto;
  }

  #maintxt {
    border: 1px solid red;
    padding-top: 1em;
    margin-top: 3em;
  }